/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* Set up the container for product cards */
.product-container {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Style the product cards */
.product-card {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    vertical-align: top;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    
}

.product-card h2 {
    font-size: 1.5em;
    margin: 15px 0;
    color: rgb(235, 18, 180);
}

.product-card p {
    color: #f31010;
    margin-bottom: 20px;
}

.product-card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.product-card .btn:hover {
    background-color: #0056b3;
}

/* Add hover effect for the card */
.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}